@use 'utils' as *;

@media (min-width: 769px) {
  .ImagenesGaleria{
    @include grid(25%);
    gap: 0 5%;
  }  
}

.ImagenGaleria{
  margin: 20px 0;
  h3{
    height: 80px;
  }

  ul{
    height: 125px;
  }

  button{
    @include Btn(true);
    color: $color-foreground;
    font-weight: bold;
    width: 100%;
  }  
}