
:root{
  --amarillo: #f2b924;
  --texto: #BFC9FF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*SCROLL-BAR*/

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202540;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f2b924;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f2b924;
}

::-webkit-scrollbar-corner {
  border-radius: 10px;
}

html,
body {
  font-family: "Merriweather", serif;
}

body {
  background-color: #202c7f;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 70px;
  height: inherit;
}

ul {
  padding-left: 20px;
}

@media (min-width: 768px) {
  .container {
    margin: 0 140px;
  }
}

/*Font Sizes Regular*/
h1 {
  font-size: 67.77px;
  color: #f2b924;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 41.89px;
  color: #f2b924;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 25.89px;
  color: #f2b924;
  font-family: "Montserrat", sans-serif;
}

p,
button,
li,
a{
  font-size: 16px;
}

p,
a,
li {
  color: #bfc9ff;
}

a,
button {
  cursor: pointer;
}

button {
  transition: 0.5s;
}

button:hover {
  transform: scale(1.05);
}

/*Mobile Fonts*/
@media (max-width: 768px) {
  h1 {
    font-size: 45.23px;
  }

  h2 {
    font-size: 31.99px;
  }

  h3 {
    font-size: 22.62px;
  }
}

/*Posts*/
h2 > a{
  color: var(--amarillo);
}

p > a{
  text-decoration: underline;
}

p > a:hover{
  text-decoration: none;
}

code{
  background-color: #282c34;
  padding: 0 5px;
}

pre > code{
  border-radius: 10px;
  margin: 15px 0;
}

ol > li{
  margin: 15px 0;
}