* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*SCROLL-BAR*/

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202540;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F2B924;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F2B924;
} 

::-webkit-scrollbar-corner{
  border-radius: 10px;
}


html,
body {
  font-family: 'Merriweather', serif;
}


body{
  background-color: #202C7F;
}

a {
  color: inherit;
  text-decoration: none;
}

.container{
  margin: 0 70px;
  height: inherit;
}

ul{
  padding-left: 20px;
}

li{
  list-style-type: '//';
  padding-inline-start: 10px;
}

@media (min-width: 768px) {
  .container{
    margin: 0 140px;
  }
}

/*Font Sizes Regular*/
h1{
  font-size: 67.77px;
  color: #F2B924;
  font-family: 'Montserrat', sans-serif;
}

h2{
  font-size: 41.89px;
  color: #F2B924;
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-size: 25.89px; 
  color: #F2B924;
  font-family: 'Montserrat', sans-serif;
}

p, button, li, a, span{
  font-size: 16px;
}

p, a, span, li {
  color: #BFC9FF;
}

a, button{
  cursor: pointer;
}

button{
  transition: .5s;
}

button:hover{
  transform: scale(1.05);
}

/*Mobile Fonts*/
@media (max-width: 768px){
  h1{
    font-size: 45.23px;
  }
  
  h2{
    font-size: 31.99px;
  }
  
  h3{
    font-size: 22.62px; 
  }
}