@use 'utils' as *;

.social__izq{
  @include social;
  left: 0;
}

.social__der{
  @include social;
  right: 0;
}

.social__div{
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.social__svg{
  width: 48px;
  height: 48px;

  margin: 10px 0;
}

@media (min-width: 769px) {
  .social__div{
    margin: 0 45px;
  }

  .social__svg{
    transition: .5s;
    &:hover{
      transform: scale(1.15);
    }
  }
}